.category-banner {
  height: 389px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.category-modal-header {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 26px;
    font-weight: bold;
    color: $blue;
  }
  h6 {
    font-size: 14px;
    font-weight: bold;
    color: $blue;
  }
}

.category-modal-body {
  max-height: 400px;
  overflow: scroll;
  p {
    white-space: pre-wrap;
  }
}

.slider-container {
  width: 80%;
  height: 0px;
  transition: 0.25s ease-in;
  overflow-y: hidden;
  padding: 0 16px;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.slider-open {
  height: 60px;
}

.noUi-target {
  margin-top: 8px;
}

.noUi-connect {
  background-color: $orange !important;
}

.filters-closed {
  @media(max-width: 768px) {
    height: 0px;
    overflow-y: hidden;
    transition: 0.25s ease-in;
  }
}

.filters-open {
  @media(max-width: 768px) {
    height: 155px;
  }
}

.filters {
  display: flex;
  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.filter-btn {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  background-color: #F0F0F0;
  max-width: 170px;
  border: 1px solid #B7B7B7;
  cursor: pointer;
  color: $gray;
  margin-right: 16px;
  // Hiding dropdown arrow
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 300;
  &:hover {
    text-decoration: none;
    background-color: #FAFAFA;
    color: $gray;
  }
  @media(max-width: 768px) {
    width: 100%;
    max-width: none;
    margin-top: 8px;
  }
}
