.product-show-img {
  height: 424px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.bids {
  height: 138px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 16px;
  overflow: scroll;
  margin-bottom: 16px;
}

.breadcrumb {
  background-color: #fff;
  padding: 0;
}

.product-details {
  border: 1px solid #CAD0D9;
  border-radius: 4px;
  padding: 16px;
}

.product-stat {
  border-radius: 8px;
  margin-bottom: 16px;
  width: 159px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $orange;
  padding: 4px;
  span {
    font-size: 10px;
    color: $orange;
  }
  p {
    font-size: 22px;
    color: $orange;
    margin: 0;
  }
}

.winning-offer {
  background-color: #1C9F72;
  border: none;
  span, p {
    color: #fff;
  }
}

.your-offer {
  background-color: #CCCDD0;
  border: none;
  span, p {
    color: #fff;
  }
}
