.product-flex {
  display: flex;
  @media(max-width: 768px) {
    flex-direction: column;
    padding-top: 1rem;
  }
}

.carousel-indicators {
  bottom: -50px !important;
  li {
    background-color: $orange !important;
    opacity: 0.25 !important;
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
    &.active {
      opacity: 1 !important;
    }
  }
}

.product-show-img {
  height: 424px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  @media(max-width: 768px) {
    height: 400px;
  }
  @media(max-width: 440px) {
    height: 243px;
  }
}

.bids {
  height: 138px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 0 16px 16px 16px;
  overflow: scroll;
  margin-bottom: 16px;
}

.breadcrumb {
  background-color: #fff;
  padding: 0;
  margin-bottom: 0;
  a {
    font-size: 12px;
    color: #626A79;
  }
  span {
    font-size: 12px;
    color: #626A79;
  }
}

.product-details {
  border: 1px solid #CAD0D9;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.product-stat {
  border-radius: 8px;
  margin-bottom: 16px;
  width: 159px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $orange;
  padding: 4px;
  span {
    font-size: 10px;
    color: $orange;
  }
  p {
    font-size: 22px;
    color: $orange;
    margin: 0;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 2px
  }
}

.winning-offer {
  background-color: #1C9F72;
  border: none;
  span, p {
    color: #fff;
  }
}

.your-offer {
  background-color: #CCCDD0;
  border: none;
  span, p {
    color: #fff;
  }
}

.timer-finished {
  font-size: 16px !important;
}

.input-currency {
  font-size: 80px;
  color: $blue;
  font-weight: bold;
  margin-top: -16px;
  @media(max-width: 768px) {
    font-size: 40px !important;
  }
}

.bid-input {
  font-size: 80px !important;
  color: $blue !important;
  font-weight: bold !important;
  text-align: center !important;
  border: none !important;
  // This looks better but is fucked for bids over a million
  // margin-left: -16px;
  // background-color: transparent !important;
  padding: 0 !important;
  &:focus {
    box-shadow: none !important;
  }
  @media(max-width: 768px) {
    font-size: 40px !important;
  }
}

.bid-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.arrows {
  margin-top: -8px;
}

path {
  transition: fill 0.15s ease-in-out;
}

.arrow {
  cursor: pointer;
  &:hover {
    path {
      fill: $blue;
    }
  }
}

#downArrow {
  transform: rotate(180deg);
}

.btn-bid {
  padding: 12px !important;
}

.bid {
  margin: 4px auto;
  text-align: center
}

.highlighted-bid {
  background-color: rgba(253,115,35,0.05);
}

.fixed-offer-button-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 94px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E5E6;
  box-shadow: 0 -3px 10px rgba(0,0,0,0.16);
  z-index: 20;
  padding: 0 10px;
  @media(min-width: 768px) {
    display: none;
  }
}

.auction-ended-img-holder {
  height: 237px;
  width: 237px;
  border-radius: 50%;
  border: 10px solid rgba(253, 115, 31, 0.21);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auction-ended-img {
  width: 122px;
}
