body {
  background-color: #fff;
}

.min-height {
  min-height: calc(100vh - 332px);
}

h1 {
  font-size: 60px;
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
}

h3 {
  color: $blue;
  font-size: 32px;
  font-family: "tablet-gothic", sans-serif;
  font-weight: 700;
}

p {
  font-family: "neue-haas-unica", sans-serif;
  font-size: 14px;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.white {
  color: #fff;
}

.size-13 {
  font-size: 13px;
}

.size-20 {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.image-cover-center {
  object-fit: cover;
  object-position: center;
}

.btn {
  line-height: 1.2 !important;
  // border-radius: 4px !important;
}

.btn-primary {
  color: #fff !important;
  padding: 6px 20px;
  border-radius: 4px;
}

.btn-secondary {
  background-color: #CAD0D9 !important;
  border-color: #CAD0D9 !important;
  color: #626A79 !important;
  padding: 6px 20px;
}

.margin-80-top {
  margin-top: 80px;
}

.margin-80-bottom {
  margin-bottom: 80px;
}


.modal-dialog {
  top: 20%;
}

.modal-body {
  padding: 3rem !important;
}

.center-padding {
  padding: 0 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33.33%;
}

.w-66 {
  width: 66.66%;
}

