body {
  background-color: #fff;
}

.min-height {
  min-height: calc(100vh - 332px);
}

// Not sure this looks great, discuss with el designo
.container {
  max-width: calc(100% - 20px) !important;
  padding-right: 40px !important;
  padding-left: 40px !important;
  @media(max-width: 440px) {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}

.devise-container {
  max-width: 800px;
  margin: 80px auto;
}

h1 {
  font-size: 60px;
  font-family: "tablet-gothic", sans-serif;
  font-weight: 400;
}

h3 {
  color: $blue;
  font-size: 32px;
  font-family: "tablet-gothic", sans-serif;
  font-weight: 700;
  line-height: 40px;
   @media(max-width: 768px) {
    font-size: 24px;
  }
}

p {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.white {
  color: #fff;
}

.grey {
  color: $gray;
}

.white-background {
background-color: #fff !important;
}

.size-10 {
  font-size: 10px;
}

.size-12 {
  font-size: 12px;
}

.size-13 {
  font-size: 13px;
}

.size-20 {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.image-cover-center {
  object-fit: cover;
  object-position: center;
}

.button-holder {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 1.2 !important;
  // border-radius: 4px !important;
}

.btn-primary {
  color: #fff !important;
  padding: 12px 32px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  transition: 0.35s;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;

  &:hover {
    box-shadow: 2px 6px 9px rgba(0,0,0,0.19);
  }
}

.btn-secondary {
  background-color: #CAD0D9 !important;
  border-color: #CAD0D9 !important;
  color: #626A79 !important;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    background-color: #DFE3EA !important;
  }
}

.padding-40-horizontal {
  padding: 0 40px;
  @media(max-width: 768px) {
    padding: 0 12px !important;
  }
}

.btn-large {
  padding: 10px 30px !important;
}

.margin-8-bottom {
  margin-bottom: 8px;
}

.margin-16-bottom {
  margin-bottom: 16px;
}

.margin-32-bottom {
  margin-bottom: 32px;
}

.margin-8-top {
  margin-top: 8px;
}

.margin-80-top {
  margin-top: 80px;
}

.margin-80-top-desktop {
  margin-top: 80px;
  @media(max-width: 768px) {
    margin-top: 0
  }
}

.margin-80-bottom {
  margin-bottom: 80px;
}

.modal-dialog {
  top: 20%;
}

.modal-body {
  padding: 3rem !important;
  @media(max-width: 768px) {
    padding: 2rem !important;
  }
}

.center-padding {
  padding: 0 25%;
}

.center-padding-desktop {
  padding: 0 25%;
  @media(max-width: 768px) {
    padding: 0;
  }
}

.pt-5-mobile {
  padding-top: 0rem !important;
  @media(max-width: 768px) {
    padding-top: 3rem !important;;
  }
}

.pl-3-desktop {
  padding-left: 1rem !important;
  @media(max-width: 768px) {
    padding-left: 0 !important;;
  }
}

.pr-3-desktop {
  padding-right: 1rem !important;
  @media(max-width: 768px) {
    padding-right: 0 !important;;
  }
}

.pr-4-desktop {
  padding-right: 1.5rem !important;
  @media(max-width: 768px) {
    padding-right: 0 !important;;
  }
}

.pr-5-desktop {
  padding-right: 3rem !important;
  @media(max-width: 768px) {
    padding-right: 0 !important;;
  }
}

.mb-5-desktop {
  margin-bottom: 3rem !important;
  @media(max-width: 768px) {
    margin-bottom: 0 !important;;
  }
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33.33%;
}

.w-66 {
  width: 66.66%;
}

.w-50-desktop {
  width: 50% !important;
  @media(max-width: 768px) {
    width: 100% !important;
  }
}

.desktop-flex {
  @media(min-width: 768px) {
    display: flex;
  }
}

.flex-column-mobile {
  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.text-center-mobile {
  @media(max-width: 768px) {
    text-align: center;
  }
}

.d-none-mobile {
  @media(max-width: 768px) {
    display: none;
  }
}

.d-none-desktop {
  @media(min-width: 768px) {
    display: none;
  }
}


