.users-table {
  border: 1px solid $light-gray;
}

.users-header {
  background-color: $orange;
  height: 54px;
  padding: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    width: 20%;
    text-align: center;
  }
}

.users-row {
  min-height: 80px;
  padding: 16px;
  color: $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  &:last-of-type {
    border: none;
  }
  p {
    width: 20%;
    text-align: center;
  }
  form {
    // width: 20%;
  }
}
