<div class="container">
  <h3 class="my-5">Nosotros</h3>
  <%= image_tag "people.png", alt: "People on a crosswalk", height: 310, class: "w-100 image-cover-center  mb-4" %>
  <h4 class="orange bold">Fundación de Subastalo</h4>
  <div class="foundation-text">
    <p>Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina. <br> En muchos otros casos encontramos texto ejemplares que nos pueden servir para escribir.</p>
    <p>Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina. <br> En muchos otros casos encontramos texto ejemplares que nos pueden servir para escribir.</p>
    <p>Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina. <br> En muchos otros casos encontramos texto ejemplares que nos pueden servir para escribir.</p>
  </div>
  <div class="focus-section">
    <%= image_tag "building.png", alt: "Corporate building made of glass", height: 310,  class: "focus-image" %>
    <div class="focus-text">
      <h4 class="orange bold">Nuestro Enfoque</h4>
      <p>Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina.</p><p> En muchos otros casos encontramos texto ejemplares que nos pueden servir para escribir. </p><p> Siempre y cuando podamos hacer este tipo de textos podremos mostrar ejemplos a los clientes de como se hacen los proyectos digitales a la vanguardia.</p>
    </div>
  </div>
  <div class="participation-section">
    <div class="participation-text">
      <h4 class="orange bold">Participamos en el Mercado</h4>
      <p>Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina. </p><p> En muchos otros casos encontramos texto ejemplares que nos pueden servir para escribir. </p><p> Siempre y cuando podamos hacer este tipo de textos podremos mostrar ejemplos a los clientes de como se hacen los proyectos digitales a la vanguardia.</p>
    </div>
    <%= image_tag "girl.png", alt: "Corporate building made of glass", height: 310, class: "focus-image" %>
  </div>
</div>
