<div class="container">
  <% if @favorites %>
    <h3 class="my-4">Me Favoritos</h3>
    <div class="product-grid mb-5">
      <% @favorites.each do |product| %>
        <%= render "shared/product_card", product: product, admin: false %>
      <% end %>
    </div>
  <% else %>
    <h3 class="my-4">Please sign in to begin favoriting items</h3>
  <% end %>
</div>
