<div class="d-flex">
  <%= render "admin/shared/sidebar", categories: @categories %>
  <div class="sidebar-aware-container">
    <div class="container pt-4">
      <h3 class="text-center mb-4">Nueva Categoría</h3>
      <%= render 'form', category: @category %>
    </div>
  </div>
</div>


