<div class="d-flex">
  <%= render "admin/shared/sidebar", categories: @categories %>
  <div class="sidebar-aware-container">
    <div class="container pt-4">
      <div class="d-flex justify-content-between align-items-center">
        <h3><%= @category.name %></h3>
        <%= link_to "+ Agregar Subasta", new_admin_product_path, class: "btn btn-primary" %>
      </div>
      <div class="category-grid">

        <% @category.products.each do |product| %>
          <div class="product-card">
            <%= link_to product.hidden? ? 'Unhide' : 'Hide', hide_admin_product_path(product), method: :patch %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
