<div class="d-flex">
  <%= render "admin/shared/sidebar", categories: @categories %>
  <div class="sidebar-aware-container light-blue-background">
    <div class="container pt-4">
      <h3 class="mb-4">Agregar Producto</h3>
      <%= render "admin/shared/form", product: @product %>
    </div>
  </div>
</div>

