.home-banner {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: asset-url('banner.png');
  background-size: cover;
  background-position: center;

}

.banner-content {
  color: #fff;
  padding: 0 0 0 80px;
  p {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    // Weight not working atm
    font-weight: lighter;
  }
  @media(max-width: 768px) {
    padding: 0 0 0 20px;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 18px;
    }
  }
}
