.devise-modal-header {
  border-top: 8px solid $orange;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.devise-modal-body {
  padding: 18px 32px;
}

.devise-link {
  color: rgba(98, 106, 121, 0.6);
  text-decoration: underline;
  margin-bottom: 22px;
  display: inline-block;
  cursor: pointer;
}

.devise-modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-devise {
  width: 100%;
  padding: 10px 0 !important;
}

.signup-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 32px 0;
}

.indicator-dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: $orange;
  opacity: 41%;
}

.active-dot {
  opacity: 100%;
}
