.footer {
  color: #fff;
  letter-spacing: 1px;
}

.footer-top {
  background-color: $orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  a {
    color: #fff;
    display: block;
  }
  @media(max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-section {
  height: 180px;
  @media(max-width: 768px) {
    height: auto;
    margin-top: 40px;
  }
}

.footer-inputs {
  width: 25%;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.footer-mobile-center {
  margin: 0 auto;
  width: 141px;
}

.icon-holder {
  background-color: #fff;
  border-radius: 50%;
  min-height: 14px;
  min-width: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  i {
    color: $orange;
    font-size: 8px;
  }
}

.large-icon-holder {
  height: 36px;
  width: 36px;
  i {
    font-size: 18px;
  }
}

.footer-input {
  color: #333;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
}

.btn-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: $orange;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}

.footer-bottom {
  background-color: #FF9355;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  a {
    color: #fff;
    font-size: 12px;
  }
  @media(max-width: 768px) {
    flex-direction: column;
    padding: 8px 16px;
    p {
      margin-bottom: 16px;
      text-align: center;
    }
  }
}


