.navbar-subastalo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 40px;
  background: white;
  border-bottom: 1px solid #C7C7C7;
}

.nav-link {
  color: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
